@page "/favoritegames"

<h3>Избранные игры</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Производитель</th>
                <th>Год выпуска</th>
            </tr>
        </thead>
        <tbody>
            @if (games == null)
            {
                <tr>Загрузка...</tr>
            }
            else if (games.Count == 0)
            {
                <tr>Где данные? Какие данные?</tr>
            }
            else
            {
                @foreach (var item in games)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Producer</td>
                        <td>@item.Year</td>
                        <td>
                            <button @onclick="() => RemoveFromFavorite(item)">Удалить</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Inject]
    IBoardGameService? BoardGameService { get; set; }

    List<BoardGame>? games;

    protected override async Task OnInitializedAsync()
    {       
        //await Task.Delay(3000);
        games = BoardGameService?.GetFavoriteBoardGames();
    }

    private void RemoveFromFavorite(BoardGame boardGame)
    {
        BoardGameService?.RemoveBoardGameFromFavorite(boardGame);
        games = BoardGameService?.GetFavoriteBoardGames();
        StateHasChanged(); 
    }
}
